.color-picker {
    height: 5vh;
    width: 5vh;
    border-radius: 10vh;
    margin: 10px;
    border: 3px solid black;
}

.color-picker-active {
    transform: scale(1.2);
    border: 3px dashed black;
    box-shadow: 5px 5px 5px 2px;
}

.color-palette {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 5px;
}