.landing-page {
    background-image: url(../../assets/natural_paper.png);
    margin-top: 30px;
}

#intro {
    font-size: 25px;
}

#introdos {
    font-size: 25px;
}

#card-footer {
    text-align: center;
}

#card-footer a {
    text-decoration: none;
    color: inherit;
}

.card-icon {
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
}

.card-icon:hover {
    color: var(--fawn);
    transform: scale(1.5);
}

#card-title {
    font-size: 40px;
    font-family: 'Indie Flower', monospace, sans-serif;
}

.content span {
    font-size: 18px;
    color: black;
}

#card-description {
    font-size: 18px;
    color: black;
    line-height: 1.5;
}

.ui.card {
    border: 2px solid black;
    width: auto;
    height: 1120px;
}

.ui.header {
    text-align: center;
}

.ui.text.container h2 {
    font-size: 37px;
    text-decoration: underline;
}

.ui.text.container p {
    font-size: 25px;
    line-height: 1.5;
}

#app-context, #app-context h2 {
    font-family: 'Indie Flower', monospace, sans-serif;
}

#card-popup {
    font-size: 20px;
}

#tech-list-title {
    font-family: 'Indie Flower', monospace, sans-serif;
    text-align: center;
    font-size: 35px;
}

#tech-list {
    font-family: 'Indie Flower', monospace, sans-serif;
    text-align: center;
    font-size: 35px;
    list-style-type: none;
}