.svg-image {
    margin: 50px;
}

#selector {
    width: 200px;
    height: 47px;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 20px;
}

#download-selector {
    display: flex;
    gap: 50px;
}

#downloadbtn {
    border: 2px solid black;
    font-size: 15px;
    width: 100px;
    background-color: white;
}

@media only screen and (max-width: 600px) {
    #selector {
        width: 150px;
        height: 50px;
    }

    #selected-svg svg {
        height: 350px;
        width: 350px;
    }
}