.cornerBob {
    position: absolute;
    right: 0px;
    bottom: -43vh;
    height: 600px;
    width: auto;
}

#mainCanvas {
    height: 100vh;
    overflow: hidden !important;
}

#canvasArea {
    display: flex;
    justify-content: center;
}

#colorpalette-title {
    text-align: center;
    font-family: 'Indie Flower', monospace, sans-serif;
    font-size: 50px;
}

#colorpalette-column {
    margin-top: 15px;
}

#resetbtn {
    height: 50px;
    width: 50px;
}

.colorpalette-footer {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 50px;
}