html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url(./assets/kisspng-bob-ross-more-of-the-joy-of-painting-television-sh-old-man-material-5adb23ba867643.1949504215243109705508.png);
    background-size: cover;
}